<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Realizzata da Tommy Gentile - vers. 3.0 -->
    
    <!--
    days_interval = -1 -> backup delle modifiche fino a 24 ore prima
    days_interval = -0,5 -> backup delle modifiche fino a 12 ore prima
    days_interval = -0,25 -> backup delle modifiche fino a 6 ore prima
    ecc..
    -->
    <add key="days_interval" value="-1"/>
    <add key="backup_path" value="C:\temp\"/>

    <add key="backup_foldername" value="Backup_Temp"/>

    <add key="mail_enable" value="false"/>   
    <add key="mail_host" value="smtp.office365.com"/>
    <add key="mail_port" value="587"/>
    <add key="mail_from" value=""/>
    <add key="mail_to" value=""/>

    <add key="extensions" value=".csproj|.cs|.aspx|.ascx|.xml|.css|.master|.gif|.jpg|.js|.include|.htm|.html|.skin|.bmp|.ico|.asax|.asmx|.xslt"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
